

body {
    background-color: #c7c7c7;
}

.demo-config-bar {
    width: 100%;
    padding: 5px;
    margin-top: 50px;
    height: 50px;
    background-color: #5bb4db;
}

    .demo-config-bar input[type=submit] {
        height: 34px;
        background-color: #b8d433;
        width: 100px;
        border: none;
        font-size: 18px;
        margin-left: 10px;
        float: right;
    }

.demo-search-box {
    width: 1000px;
    height: 50px;
    margin: auto;
    padding: 0px;
}

    .demo-search-box .title {
        font-weight: bold;
        font-size: 18px;
        float: left;
        width: 110px;
        height: 34px;
        padding-top: 5px;
    }


    .demo-search-box input[type=text] {
        height: 34px;
        width: 280px;
        font-size: 16px;
        padding: 8px;
        margin-left: 50px;
        float: right;
    }

    .demo-search-box select {
        height: 34px;
        width: 100px;
        margin-left: 5px;
        font-size: 14px;
    }

        .demo-search-box select.left {
            float: left;
        }

        .demo-search-box select.right {
            float: right;
        }

.result-body {
    width: 100%;
    min-height: 800px;
    height: 100%;
    background-color: #ffffff;
}

    .result-body .title {
        font-weight: bold;
        font-size: 24px;
        text-align: center;
        color: #9d9d9d;
        width: 50%;
        background-color: #ffffff;
        padding: 0px;
        margin: 0px;
        float: left;
    }


.result-content {
    width: 50%;
    height: 765px;
    overflow: auto;
    float: left;
}

    .result-content .result-count {
        width: 100%;
        height: 16px;
        text-align: center;
        font-style: italic;
        color: #9d9d9d;
    }

    .result-content .doc-example {
        height: 530px;
        width: 550px;
        overflow: auto;
        font-size: 12px;
        background-color: #ffffff;
    }

    .result-content .result-details-row {
        width: 570px;
        min-height: 20px;
        height: auto;
        overflow-x: auto;
        padding-left: 10px;
        border-top: 1px solid #dcdcdc;
        margin: auto;
    }

    .result-content .result-details-property {
        width: 150px;
        height: 20px;
        font-size: 14px;
        font-weight: bold;
        padding: 2px;
        margin-left: 10px;
        margin-bottom: 5px;
        float: left;
    }

    .result-content .result-details-value {
        width: 330px;
        height: auto;
        font-size: 12px;
        float: left;
        padding: 5px;
    }

    .result-content .result-details-title {
        width: 580px;
        min-height: 30px;
        color: #000000;
        float: left;
        font-size: 24px;
        text-align: center;
        padding: 5px;
        margin-bottom: 10px;
    }

    .result-content .result-details {
        width: 140px;
        height: 140px;
        border-radius: 160px;
        padding: 10px 10px;
        text-align: center;
        font-size: 14px;
        float: left;
        display: inline-block;
        margin-right: 5px;
    }

.result-details.director  {
    background-color: #b8d433;
    border-style: none;
}

.result-details.actor  {
    background-color: #5ab4db;
    border-style: none;
}

.result-details.genre {
    background-color: #addaee;
    padding: 60px 10px;
}

.result-content .movie-object {
    width: 120px;
    height: 160px;
    float: left;
    margin: 10px;
    font-size: 15px;
    text-align: center;
    padding-top: 10px;
    overflow: hidden;
    background-color: #b8d433;
    border: none;
}


    .result-content .movie-object:nth-child(2n+0) {
        background-color: #5bb4db;
        border: 2px solid #b8d433;
    }

    .result-content .movie-object:nth-child(3n+0) {
        background-color: #c7c7c7;
        border: 2px solid #acdaec;
    }

    .result-content .movie-object:nth-child(5n+0) {
        background-color: #acdaec;
        border: 2px solid #5bb4db;
    }

    .result-content .movie-object:nth-child(11n+0) {
        background-color: #efefef;
        border: 2px solid #acdaec;
    }


.result-content .movie-year {
    font-size: 12px;
    font-style: italic;
    padding-top: 4px;
    font-weight: normal;
}

.result-content .person-year {
    font-size: 10px;
    font-style: italic;
    padding-top: 4px;
    font-weight: normal;
}


.hidden {
    display: none;
}

.visible {
    display: inline;
}

.about_content {
    background-color: #FFFFFF;
    margin-top: 30px;
    padding: 20px 80px 40px 80px;
    font-size: 17px;
 }
.about_content h3 {
    margin-top: 30px;
}

.result_tables {
    max-width: 760px;
    margin:auto;
    margin-top:60px;
    margin-bottom:60px;
}

.result_tables th {
    background-color: #5bb4db;
    color: #FFFFFF;
    width: 150px;
    border: 1px solid #000000;
    padding: 5px;
    font-size: 16px;
    text-align: center;
}

.result_tables td {
    padding: 10px;
    font-size:14px;
    text-align: center;
}

.result_tables pre {
    border: none;
    width:600px;
    margin:auto;
}